@import "tailwindcss";

@theme {
  --color-kaiju-bg: #1a1a1a;
  --color-kaiju-dark: #111111;
  --color-kaiju-red: #f31a02;
  --color-kaiju-red-hover: #c91401;

  --font-heading: "Changa One", sans-serif;
  --font-body: "Raleway", sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--color-kaiju-bg);
  color: white;
  font-family: var(--font-body);
}
